<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="lambda" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date | log_thread=%thread | log_level=%-5level | log_logger=%logger | log_location=%class.%method | log_line=%line | log_message='%msg'%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="lambda"/>
    </root>

    <logger name="com.amazonaws" level="WARN"/>
    <logger name="org.apache.http" level="WARN" />
</configuration>
